@charset "utf-8"
*, *::after, *::before{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.logo img{
  width: 50%;
}
.header{
  background-color: white;
  display: grid;
  width: 1000px;
  position: relative;
  grid-template-columns: repeat(12,65px);
  grid-template-rows: 50px 50px;
  grid-column-gap: 20px;
}
header::after{
  content: "";
  background: repeating-linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2) 65px, transparent 65px, transparent 85px);
  width: 100% ;
  height: 100% ;
  position: absolute;
  top:0;
  left:0; 
}
.logo{
  margin: 0;
  grid-column: 1 / span 2 ;
  grid-row: 1/ span 2;   
  background: orange;
  text-align: center;
  margin-top: 15px;
  
}
.member{
  grid-column: 8/span 5; 
  grid-row: 1 / 2 ;
  background: yellow;
  display: flex;
  justify-content: flex-end;

}
.member li::before{
  content: "|";
}
ul{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.search{
  grid-column:8/span 5;
  grid-row: 2 / 3;
}
