@charset "utf-8";

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}
/* 컨테이너 */
.container{
    height: 100vh;
    background: gray;
}
/* 레이아웃 공통 */
.header, .main, .slogan{
    width: 1000px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    background-color: yellow;
}
/* 내비게이션 */
.navigation{
    background-color: lime;
    height: 10vh;
}
/* 메인 콘텐츠 */
.main{
    background-color: pink;
    height: 60vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.main section{
    background-color: teal;
    height: 30vh;
}
.recommend-book{
    width: 350px;
}
.news{
    width: 650px;   
}
.board{
    width: 350px;
}
.favorite-site{
    order: 1;
    width: 250px;
}
.twitter{
    width: 400px;
}
/* 슬로건 */
.slogan{
    background-color: orange; 
    height: 10vh; 
}
/* 푸터 */
.footer{
    background-color: skyblue;
    height: 10vh;
}