@charset "utf-8";
*, *::before, *::after{
  margin: 0; 
 padding: 0; 
 border: 0;
 box-sizing: border-box; 
} 

.header{
display: flex;
flex-direction: row; 
background-color: white;
position: sticky;
top:0;
}
.logo img{
width: 20%; 
}
.logo{
margin-left: 150px; 
}
.menu-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  margin-right: 150px;
  justify-content: space-between;
  width: 600px;
}
ul{
  list-style-type:none;
}
.menu-item a{
  color: gray;
  text-decoration: none;
}

