@charset "utf-8";
*,*::after, *::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.header{
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  
}
.logo{
  grid-column: 1/1 span ;
 
 
}
.logo img{
  width: 40%;
}
.menu-item{
  display: inline-block;
  grid-column: 2/ 2 span;
  display: grid;
  grid-template-columns: repeat(5,1fr );
  align-items: center;
  text-align: right;
 

  /* display: flex;
  align-items: center;
  justify-content: space-around;
  */
}
.menu-item li{
display: inline-block;


} 
