@charset "utf-8";
*, *::before, *::after{
  margin: 0; 
  padding: 0; 
  border: 0;
  box-sizing: border-box; 
} 
legend, .a11y-hidden{

   width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute; 
  clip:rect(0, 0, 0, 0);
  background: lime;

}
.container{
  width: 1000px;
  margin: 0 auto;
  background: pink;
}
.header{
 

}
fieldset{
  float: right;

}
.logo img{
  width: 5%;
 
  float: left;
}
.search{

}