@charset "utf-8";
*, *::before, *::after{
  margin: 0; 
  padding: 0; 
  border: 0;
  box-sizing: border-box; 
} 
.container{
  width: 1000px;
  margin: 0 auto;
}
.header{
  height: 100px;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{

}
.logo img{
  width: 30%;
}
.search{

}